<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anand.cisytem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CISystem"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actlogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actsignup" />
        <activity android:name=".actprofile" />
        <activity android:name=".actuploadimg" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".actadmin_profile"
            android:label="@string/title_activity_actadminprofile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".actadmin_addannouncement" />
        <activity android:name=".actadmin_category_edit"></activity>
    </application>

</manifest>